body {
    background-color: #1A1C1D;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
  
#slotMachines {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doors {
    display: flex;
    background: #000000;
    border-radius: 5px;
}

.door {
    background: #fafafa;
    width: 100px;
    height: 110px;
    overflow: hidden;
    border-radius: 5px;
    margin: 5px;
}

.boxes {
    transition: transform 1s ease-in-out;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
}

.buttons {
    margin: 1rem 0 2rem 0;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0 0.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.info {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}