* {
    font-family: Tahoma, sans-serif;
    position: relative;
}

body {
    background-color: #1A1C1D;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
  
#slotMachines {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doors {
    display: flex;
    background: #D6A047;
    border-radius: 5px;
}

.door {
    background: #fafafa;
    width: 90px;
    height: 105px;
    overflow: hidden;
    border-radius: 5px;
    margin: 8px;
}

.boxes {
    transition: transform 1s ease-in-out;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
}

.plus-value1 {
    font-size: 45px; /* Adjust the font size as needed */
    color: rgb(0, 248, 0); /* Adjust the color as needed */
    position: absolute; /* Set position to absolute */
    top: 00px; /* Position the plusValue div relative to the top of the result display container */
    left: 50px; /* Adjust the left position as needed to align the plusValue div with the symbol */
    margin-bottom: 20px;
    z-index: 1; /* Set a higher z-index to place the plusValue div on top of the symbol */  
    font-weight: 600;
    -webkit-text-stroke: 3px black; /* width and color */
    opacity: 0; /* Start with the plusValue div hidden */
    transition: opacity 0.5s; /* Add a transition effect for opacity */
}

.plus-value2 {
    font-size: 45px; /* Adjust the font size as needed */
    color: rgb(0, 248, 0); /* Adjust the color as needed */
    position: absolute; /* Set position to absolute */
    top: 00px; /* Position the plusValue div relative to the top of the result display container */
    left: 150px; /* Adjust the left position as needed to align the plusValue div with the symbol */
    margin-bottom: 20px;
    z-index: 1; /* Set a higher z-index to place the plusValue div on top of the symbol */  
    font-weight: 600;
    -webkit-text-stroke: 3px black; /* width and color */
    opacity: 0; /* Start with the plusValue div hidden */
    transition: opacity 0.5s; /* Add a transition effect for opacity */
}

.plus-value3 {
    font-size: 45px; /* Adjust the font size as needed */
    color: rgb(0, 248, 0); /* Adjust the color as needed */
    position: absolute; /* Set position to absolute */
    top: 00px; /* Position the plusValue div relative to the top of the result display container */
    left: 250px; /* Adjust the left position as needed to align the plusValue div with the symbol */
    margin-bottom: 20px;
    z-index: 1; /* Set a higher z-index to place the plusValue div on top of the symbol */  
    font-weight: 600;
    -webkit-text-stroke: 3px black; /* width and color */
    opacity: 0; /* Start with the plusValue div hidden */
    transition: opacity 0.5s; /* Add a transition effect for opacity */
}

@keyframes moveUpwards {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-40px); /* Adjust the distance the plusValue travels upwards */
      opacity: 0; /* Fade out the plusValue at the topmost position */
    }
}

.buttons {
    margin: 1rem 0 2rem 0;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0 0.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.info {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#footer {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #473C38;
}

#money {
    color: white;
}